#productData{

    border-collapse: collapse;
    border: 2px solid black;
}
#productData th,td{
    border:1px solid black;
    text-align: center;
    padding:10x;

    

  
}

#productData td{
    height:5px;
    padding:2px;
}
img{
    border-radius:3px;
    height:20px;
    object-fit: cover;
  
}
#WixStyle{
    margin-left:10px
}
#msgIconStyle{
 position:relative;
 left:4px;
}
#num2{
    position:absolute;
    left:140px;
    top:38px;
}


#headDes{
    padding:1px;
    margin: 0%;
}
#wixDescription {
    width:150px; /* Fixed width for the cell */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}
.img-container {
    position: relative; /* Set position relative to .img-container */
}

.img1, .img2, .img3, .img4 {
    width: 30px; /* Set width to 30px */
    height: 30px; /* Set height to 30px */
    border-radius: 100px; /* Apply a border-radius to create a circular shape */
    position:relative; /* Set position absolute for positioning */

}

.img2 {
    left:-8px; 
}

.img3 {
    left:-20px; 
}

.img4 {
    left:-30px; 
}
#tagMeetingButton1{
    background-color: rgb(166, 244, 220);
    color: green;
    border: none;
    border-radius:5px;
}
#checkBox2Id{
    position: relative;
    left:-25px;
}
#shopifyId{
position: relative;
left:-70px;
top:1px;
object-fit: cover;
}
#shopyName{
    text-align: center;
}
.spotifyimg{
    width:30px;
    height:30px;
    border-radius:100px;
    position: relative;
    margin-left:-10px;
}
#shoptn1Id{
    border:2px solid brown;
    background-color:rgb(242, 181, 159);
    color:brown
}
#B2BId{
    border:2px solid yellow;
    background-color:rgb(237, 237, 171);
    color:rgb(233, 213, 36);
    margin-left:10px;
    
}

.brand img{
    width:50px;
    height:50px;
}
#checkBoxStyle{
    position: relative;
    left:-20px
}

/* Wix */
#row-1 {
    /* Styles for the row */
  }
  
  #row-1 input[type="checkbox"] {
    margin-left:1px;
  }
  
  #row-1 img {
    width:20px;
    height:20px;
  }
  
  #row-1 .description {
    
  }
  
  #row-1 .members img {
    
  }
  
  #row-1 .categories button {
  }
  
  #row-1 .tags button {
    
  }
  
  #row-1 .meetings button {
    /* Styles for the meeting buttons */
  }
  
  /* Shopify */
  #row-2 {
    /* Styles for the row */
  }
  
  /* Apply similar styles as above for Shopify and other rows */
  
  /* Add more CSS rules for other rows as needed */
  